[*.cs]

dotnet_analyzer_diagnostic.severity = error

# IDE0130: Namespace does not match folder structure
dotnet_diagnostic.IDE0130.severity = none

# IDE0011: Add braces
csharp_prefer_braces = false

# IDE0008: Use explicit type
dotnet_diagnostic.IDE0008.severity = none

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = silent

# IDE0063: Use simple 'using' statement
dotnet_diagnostic.IDE0063.severity = suggestion

# IDE0022: Use block body for methods
csharp_style_expression_bodied_methods = when_on_single_line

# CA1305: Specify IFormatProvider
dotnet_diagnostic.CA1305.severity = silent

# Default severity for analyzer diagnostics with category 'Globalization'
dotnet_analyzer_diagnostic.category-Globalization.severity = silent

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = silent

# IDE0046: Convert to conditional expression
dotnet_style_prefer_conditional_expression_over_return = false

# CA5350: Do Not Use Weak Cryptographic Algorithms
dotnet_diagnostic.CA5350.severity = suggestion

# CA1805: Do not initialize unnecessarily
dotnet_diagnostic.CA1805.severity = suggestion
